<table style="height: 670px;">
  <tr>
    <td valign="center">
      <center><h2><%= question.text %></h2></center>
      <center><h1><%= question.average_estimation.round(3) %></h1></center>
    </td>
  </tr>
</table>
