<table style="height: 670px; width: 100%;">
  <tr>
    <td valign="center">
      <center><h1><%= question.text %></h1></center>
      <center><h1><%= question.average_estimation.round(3) %></h1></center>
    </td>
  </tr>
</table>
