<table id="question_table" style="height: 670px; width: 100%; position: absolute;">
  <tr>
    <td valign="center"><center><h1><%= question.text %></h1></center></td>
  </tr>
</table>

<!-- hier kann das nicht abgespielt werden weil vorher ja die Frage verlesen werden soll
<audio autobuffer src="/abstimmung.wav" preload="auto" autoplay="autoplay" style="display: none;">
</audio>
-->
